.auth-wrap {
    margin: 50px 400px auto 400px;
}

.logo-section {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}

.logo-section>img {
    width: 100px;
}

.tabs {
    display: flex;
    justify-content: space-between;
    color: #000;
    margin-top: 20px;
}

.tab-content {
    display: none;
}

.tab-content_active {
    display: block;
}

.tab-links {
    height: 40px;
    width: 50%;
    background-color: #1a1920;
    border: solid 1px #918f8fc4;
    border-bottom: none;
    color: #fff;
    cursor: pointer;
}

.tab-links_active {
    background-color: #dd1873;
}

.tab-links:hover {
    background-color: #f25649;
}

.tab-links:first-child {
    border-top-left-radius: 5px;
    /* border-left: none; */
}

.tab-links:last-child {
    border-top-right-radius: 5px;
    /* border-right: none; */
}

.input-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    gap: 10px;
}

.input-group:first-child {
    margin-top: 30px;
}

.input-group>label {
    font-family: "Poppins", sans-serif;
    color: #fff;
}

.input-group>input {
    height: 36px;
    border-radius: 50px;
    padding-left: 2%;
    outline: none;
    border: none;
    background-color: white;
    background-repeat: no-repeat;
    background-position: 96% 50%;
    cursor: pointer;
    border: solid 2px #1a1920;
}

.input-group>input:hover, 
.input-group>input:focus {
    border: solid 2px #ae3a3a;
}

.form-signUp .input-group input:invalid {
    background-image: url(../images/wrong.png);
}

.form-signUp .input-group input:valid {
    background-image: url(../images/check_l.png);
}

.submit-wrap {
    display: flex;
    flex-direction: row-reverse;
}

.submit-wrap>.btn {
    height: 34px;
    padding: 0 10px;
    border-radius: 50px;
    border: none;
    font-family: sans-serif;
    font-weight: 800;
    cursor: pointer;
}

.submit-wrap>.btn:hover {
    background-color: #000;
    color: #fff;
    border: solid 1px #fff;
}

@media(max-width: 600px) {
    .auth-wrap {
        margin: 50px;
    }
}
