/* The Modal (background) */
.modal {
    display: none; 
    position: fixed; 
    z-index: 1; 
    padding-top: 100px; 
    left: 0;
    top: 0;
    width: 100%;
    background-color: var(--navbar);
    backdrop-filter: blur(10px);
    height: 100%; 
    overflow: auto; 
  }
  
  /* Modal Content */

  .modal-content {
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 560px;
    border-radius: 10px;
    background-color: var(--gray);
  }
  
  /* The Close Button */

  .close {
    color: #9a9a9a;
    float: right;
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  .close:hover,
  .close:focus {
    color: #ffff;
    text-decoration: none;
    cursor: pointer;
  }
  
  .modal.active{
      top:50%;
      opacity:1;
      transform:translate(-50%,-50%) scale(1);
      transition: top 0ms ease-in-out 0ms,
  }
  .modal .form-element label{
      font-size: 14px;
      color: #222;
  }
  
  .form-element button
  {
      width: 100%;
      border:none;
      /* height:40px; */
      outline:none;
      font-size: 25px;
      background:var(--gray);
      color: var(--white);
      border: 2px solid var(--white);
      border-radius: 10px;
      cursor:pointer;
      padding: 8px;
      transition: all 0.1s linear;
  }
  .form-element button:hover{
    background:var(--white);
    color: var(--gray);
  }
  form{
    color: var(--gray);
  }
  
  .center button{
    padding :10px 20px;
    font-size: 15px;
    font-weight: 600;
    color: #222;
    background: #f5f5f5;
    border:none;
    outline:none;
    cursor:pointer;
    border-radius: 5px;
  }

  #name,#email,#password
  {
      width:100%;
     
      margin-top: 5px;
      display: block;
      width: 100%;
      padding: 15px;
      outline: none;
      border:1px solid #aaa;
      border-radius: 5px;
      background-color: var(--gray);
      color: var(--white);
      font-size: 20px;
      
  }