/* ====================== navigation section ====================== */
.navbar{
  width: 100%;
  height: 80px;
  backdrop-filter: blur(10px);
  background-color: var(--navbar);
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  left: 0;
  gap: 50px;
  padding: 0px 30px;
  z-index: 10;
}
/* ========= logo section ========= */

.navbar .logo-seciton{
  height: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}

.navbar .logo-seciton img{
  height: 100px;
  /* width: 50px; */
}

.navbar .logo-seciton h1{
  color: var(--white);
  text-transform: capitalize;
}

/* ========= nav elements ========= */

/* routing section */


.navbar ul{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.navbar ul li{
  width: fit-content;
  height: fit-content;
}
.navbar ul li a{
  padding: 7px 20px;
  width: fit-content;
  height: fit-content;
  /* background-color: red; */
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.1s ease;
}
.navbar ul li a:hover{
  background-color: var(--white);
}
.navbar ul li a:hover > .title{
  color: var(--gray);
}
.navbar ul li a:hover{
  
}
.navbar ul li a .title{
  font-size: 20px;
  color: var(--white);
  font-weight: 600;
  letter-spacing: 2px;
}


.navbar ul li a .icon{
  display: none;
}

/* user section */

.navbar .user-section{
  display: flex;
  justify-content: center;
  align-items: center;
  
}
.navbar .user-section ul{
  /* display: none; */
}
.navbar .user-section a{
  border: 2.5px solid var(--white);
  font-size: 20px;
  color: var(--white);
  font-weight: 600;
  letter-spacing: 2px;
}
.navbar .user-section a:hover{
  color: var(--gray);
}
/* profile section */

.navbar .user-section .profile{
  height: 55px;
  width: 55px;
  background-image: url("../images/profile.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.2s ease;
  border: 2px solid transparent;
  display: none;
}
.navbar .user-section .profile:hover{
  border: 2px solid var(--white);
}

/*  menu wrap  */
.menu-wrap {
  display: flex;
  align-items: center;
}
.navbar-toggler {
  display: none;
  height: 50px;
  width: 50px;
  background-color: #1e1e25;
  border: solid 1px #fff;
  border-radius: 10px;
  padding: 9px;
  color: #fff;
}

.navbar-toggler:active, 
.navbar-toggler:hover {
  background-color: #fff;
  color: #000;
}

.navbar-collapse {
  display: flex;
}

.menu-wrap_active {
  display: block !important;
}

/* @media(max-width: 992px) { */
@media(max-width: 992px) {
  .navbar {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    height: 100px;
    gap: 0;
    padding: 0;
  }

  .menu-wrap {
    display: none;
    flex-basis: 100%;
    flex-grow: 1;
    align-items: center;
    background-color: #1e1e25;
    justify-content: center;
    padding: 0 0 25px 0;
  }

  .navbar-toggler {
    display: block;
  }

  .navbar-collapse {
    flex-direction: column;
    margin: 0 0 25px 0;
  }

  .menu-list {
    flex-direction: column;
  }

  .user-section {
    margin-top: 20px;
  }
}
