
body
{
    position: relative;
}
.nav
{
    width: 100%;
    height: 56px;
    /* background-color: rgb(29, 28, 28); */
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 80px;
    left: 0%;
}
.search
{
    width: 30%;
    height: 80%;
    background-color: white;
    border-radius: 50px;
    display: flex;
    outline: none;
    border: none;
    
}
.searchicon1
{
    width: 82%;
    height: 100%;
    border-radius: 50px 0px 0px 50px;
    /* background-color: rgb(128, 28, 0); */
    padding-left: 2%;
    outline: none;
    border: none;
    background-color: white;

}
.searchicon
{
    width: 18%;
    height: 100%;
    border-radius: 0px 50px 50px 0px;
    background-color: white;
    border-left: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    cursor: pointer;
    
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
  
}
.box3,.box0i,.box4i,.box,.box4,.text
{   width: 100%;
    /* background-color: #fff; */
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
    color: white;
    /* gap: 50px; */
    /* position: absolute; */


}
.boxii1,.boxii2
{
    width: 75%;
    height: 150px;
    color: white;
    font-family: YouTube Sans,Roboto,Noto Naskh Arabic UI,Arial,sans-serif;
    font-weight: 700;
    font-size: 20px;
    /* background-color: green; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 20px;
    padding-top: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.boxii2
{
   
    border-left: none;
    border-right: none;
    border-top: none;
    border-bottom: 1px solid gray;
}
.img
{
    width: 150px;
    height: 150px;
    border-radius: 20px;
    background-color: white;
}
.ptag
{
    font-size: 15px;
    width: 100px;
    
}
.musicnametag
{
    font-size: 12px;
    color: rgba(255,255,255,0.6);
    cursor: pointer;
    width: 100px;

}
.title2
{
    font-size: 15px;
    color: rgba(255,255,255,0.6);
    
}
.like
{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.time
{
    font-size: 14px;
    color: rgba(255,255,255,0.6);
    
}
.add
{
    font-size: 12px;
}
.image
{
    width: 150px;
    height: 150px;
    border-radius: 10px;
}