
body
{
    position: relative;
    
}
.nav
{
    width: 100%;
    height: 56px;
    /* background-color: rgb(29, 28, 28); */
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 80px;
    left: 0%;
}
.search
{
    width: 35%;
    height: 90%;
    background-color: transparent;
    border-radius: 50px;
    display: flex;
    outline: none;
    border: 2.5px solid white;
    

}
.searchicon1
{
    width: 82%;
    height: 100%;
    border-radius: 0px 50px 50px 0px;
    /* background-color: rgb(128, 28, 0); */
    padding-left: 2%;
    outline: none;
    border: none;
    background-color: transparent;
    color: white;
    font-size: 14px;
}
.searchicon
{
    width: 18%;
    height: 100%;
    border-radius: 50px 0px 0px 50px;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    cursor: pointer;
    font-size: 24px;
    
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
  
}


.box3,.box0i,.box4i,.box,.box4,.text
{   width: 100%;
    /* background-color: #fff; */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-direction: row;
    margin: 20px;
    align-items: center;
    /*margin-top: 40px;*/
    color: white;
    /* gap: 50px; */
    /* position: absolute; */


}


.boxii1,.boxii2
{
    width: calc(33% - 20px);
    height: 250px;
    color: white;
    font-family: YouTube Sans,Roboto,Noto Naskh Arabic UI,Arial,sans-serif;
    font-weight: 700;
    font-size: 20px;
    /* background-color: green; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 20px;
    padding-top: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.boxii2
{
    align-items: center;
    border: none;
}
.img
{
    width: 200px;
    height: 200px;
    border-radius: 20px;
    background-color: white;
    align-items: center;
}
.ptag
{
    font-size: 18px;
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.musicnametag
{
    font-size: 15px;
    color: rgba(255,255,255,0.6);
    cursor: pointer;
    display: flex;
    width: 200px;
    align-items: center;
    justify-content: center;

}
.title2
{
    font-size: 20px;
    color: rgba(255,255,255,0.6);
    
}
.like
{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.time
{
    font-size: 15px;
    color: rgba(255,255,255,0.6);
    
}
.add
{
    font-size: 12px;
}
.image
{
    width: 200px;
    height: 200px;
    border-radius: 10px;
}