/* ====================== google fonts ====================== */

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

/* ====================== global declaration section ====================== */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
}

#myBtnarrow {
  display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 20px; /* Place the button at the bottom of the page */
  right: 30px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background-color: red; /* Set a background color */
  color: white; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 15px; /* Some padding */
  border-radius: 150px; /* Rounded corners */
  font-size: 18px; /* Increase font size */
}

#myBtnarrow:hover {
  background-color: #555; /* Add a dark-grey background on hover */
}

:root {
  --pink: #ee205e;
  --gray: #1a191f;
  --white: #fff;
  --gray-white: #212129;
  --navbar: #21212992;
  --white-gray: #ffffff1f;
  --whtie-inactive: #ffffff76;
  --footer: #100f13;
  --footer-white: #dbdbe2;
}
body {
  background-color: var(--gray);
}
/* ====================== main section ====================== */

main {
  position: relative;
  background-color: var(--gray);
}


/*Cutom scrolbar*/

::-webkit-scrollbar {
  width: 12px; 
}

::-webkit-scrollbar-track {
  background: #2d2e2d; 
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(#b52080, #e11972, #ef335f, #f2524d, #f27b26); 
  border-radius: 10px;
}

